body {
  font-weight: 300;
}

a {
  color: #6ea1e6;
  text-decoration: none;
}

strong {
  color: #333c4e;
}

h2,
h3 {
  font-weight: normal;
  color: #333c4e;
  letter-spacing: normal;
  margin: 0;
  font: 300 24px/1.6em "Open Sans", open-sans, sans-serif;
}

p {
  font-size: 16px;
  line-height: 1.9em;
  color: #7e8890;
  word-wrap: break-word;
  word-break: normal;
}

canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

main {
  height: 580px;
  min-width: 1280px;
  background-size: cover;
  background-position: center;
  background-image: url("https://whale-token-im.b0.upaiyun.com/cms-production/images/header.jpg");
  overflow: hidden;
}

main .shadow {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.1);
}

main header {
  width: 1024px;
  margin: 140px auto 0;
}

main header .title {
  text-align: center;
  font-weight: normal;
  color: #fff;
  font-size: 34px;
  line-height: 48px;
  letter-spacing: normal;
  margin: 0;
  font: 300 35px/52px "Open Sans", open-sans, sans-serif;
  text-shadow: 1px 1px 3px rgba(0,0,0,.3);
}

main header .desc {
  color: #fff;
  font-size: 16px;
  line-height: 1.9em;
  text-shadow: 1px 1px 3px rgba(0,0,0,.3);
}

.intro {
  box-sizing: border-box;
  width: 780px;
  margin: -210px auto 0;
  background-color: #fff;
  padding: 1.5em 2em 1em;
  border: 1px solid #ececec;
  box-shadow: 1px 1px 1px -2px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}

.vote {
  width: 780px;
  margin: 2em auto;
}

.vote .title {
  text-align: center;
  margin-top: 3em;
  font-size: 32px;
}

.vote .box-wrapper {
  margin-top: 1.5em;
}

.vote .box {
  position: relative;
  background-color: #fff;
  padding: 1em;
  border: 1px solid #ececec;
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vote .box:last-child {
  border-bottom: 1px solid #ececec;
}

.vote .box .choice {
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  color: #333c4e;
}

.vote .box .address {
  font-size: 16px;
}

.vote .box .action {
  text-align: right;
}

.vote .box .action .amount {
  font-size: 14px;
  margin: 0;
  color: #7e8890;
  line-height: 3em;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.vote .box .action .send {
  border: 1px solid #6ea1e6;
  background-color: #6ea1e6;
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding: .2em 2em;
  border-radius: 6.25em;
}

.vote .box .action .send.hide {
  display: none;
}

.status {
  width: 780px;
  margin: 4em auto 2em;
}

.status .title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 1em;
}

.status .main-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status .main-status .info.left {
  border-left: 4px solid #FFCE56;
  padding-left: 24px;
}

.status .main-status .info.right {
  text-align: right;
  border-right: 4px solid #36A2EB;
  padding-right: 24px;
}

.status .main-status .info .label {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
}

.status .main-status .info .percent {
  color: #333c4e;
  font-weight: bold;
  font-size: 36px;
  margin: 0;
}

.status .main-status .info .ether {
  font-size: 14px;
  color: #7e8890;
  margin: 0;
}

.status .pie-chart-container {
  width: 240px;
  height: 240px;
  margin: 0 auto;
}

.status .bar-chart-container {
  width: 720px;
  margin: 4em auto 0;
}

.faq {
  margin: 4em auto;
  padding-top: 3em;
  border-top: 1px solid #cfd5e1;
}

.faq .title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 32px;
}

.faq .inner {
  width: 680px;
  margin: 0 auto;
}

.faq .inner .item {
  margin-bottom: 1em;
}

.faq .inner .item .question {
  color: #333c4e;
  font-weight: bold;
  margin: 0;
}

.faq .inner .item .anwser {

}

.about {
  margin: 4em auto;
  padding-top: 3em;
  border-top: 1px solid #cfd5e1;
}

.about .title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 32px;
}

.about .inner {
  width: 680px;
  margin: 0 auto;
}

.exchange-filter {
  padding: 4em 0;
  background-color: #323a45;
}

.exchange-filter .title {
  color: #fff;
  text-align: center;
  font-size: 20px;
}

.exchange-filter .desc {
  text-align: center;
  margin: 0;
  font-size: 14px;
}

.exchange-filter .inner {
  width: 680px;
  margin: 2em auto;
}

.exchange-filter .inner input {
  width: 424px;
  height: 50px;
  border: 1px solid #d4d7da;
  padding: 12px 24px;
  background: #fff;
  color: #333c4e;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 6.25em;
}

.exchange-filter .inner button {
  height: 50px;
  width: 168px;
  border-radius: 6.25em;
  padding: 12px 24px;
  background-color: #6EA1E6;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  border: none;
  margin-left: 20px;
}

.exchange-list {
  display: none;
}

.tingle-modal-box__content ul {
  list-style: none;
}

.tingle-modal-box__content li {
  margin: 1em 0;
}

.tingle-modal-box__content .exchange-list {
  display: block;
}

footer {
  padding: 2em 0;
  text-align: center;
}

footer .title {
  font-size: 16px;
}

footer nav a {
  margin: 0 1em;
  font-size: 14px;
  color: #7e8890;
}

footer nav a:hover {
  color: #6ea1e6;
}

.contribute-nav {
  margin-bottom: 1em;
}
